@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

p {
  color:#243e63
}

h1 { font-size: 45px;
}

i {
  text-decoration: none;
}

img {
  width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color:#28313d
}

button {
  cursor: pointer;
  border: none;
}


.purple {
  color:#6415ff
}

.row {
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
  width: 100%;
}

.container {
  padding: 90px 0;
}


a:hover {
  text-decoration: underline;
}

.btn {
  background-color: #6415ff;
  padding: 12px 32px;
  border:none;
  border-radius: 500px;
  font-size: 14px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 300ms ease;
}

.btn:hover {
  background-color: #4a14b6;
}

.btn:active {
  transform: translateY(2px);
}

section {
  padding: 0 32px;
}

.no-cursor {
  cursor: not-allowed;
  text-decoration: none;
  pointer-events:none;
}

.no-cursor:hover {
  cursor: not-allowed;
}



/* NAV */


nav {
  padding-top: 32px;
  display: flex;
  justify-content: center;
}

.nav__row {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  display: flex;
  align-items: center;
  margin: 10px 0;
  padding: 0 10px;
}

.nav__logo--img {
  width: 40px;
  height: 40px;
}

.nav__logo--title {
  font-size: 24px;
  font-weight: 900;
  margin-left: 12px;
  padding-bottom: 3px;
  letter-spacing: 0.7;
}

.nav__links {
  display: flex;
  align-items: center;
  padding-bottom: 3px;
  justify-content: space-between;
}

.nav__link {
  margin: 0 24px;
  font-size: 15px;
  padding-top: 4px;
  font-weight: 600;
  letter-spacing: 0.50;
}

.nav__link--primary {
  margin: 0 24px;
  background-color: #6415ff;
  padding: 10px 32px;
  border-radius: 100px;
  color: white;
  border: none;
  width: 0 auto;
  margin-top: 3px;
  line-height: 1.5;
}

.nav__link--primary:hover {
  text-decoration: none;
  background-color: #5c2ac0;
}


.login {
  margin-left: 60px;
}

.section__tag {
  color: #5c2ac0;
  letter-spacing: 1.5px;
  font-size: 16px;
  font-weight: 900;
}

.section__para {
  font-weight: 450;
  color:#7e7d7d;
  text-align: center;
  margin-top: 20px;
}

.section__title {
  font-weight: 900;
  font-size: 32px;
}


.btn__menu {
  background-color: transparent;
  border: none;
  text-align: center;
  font-size: 40px;
  display: none;
  color: #242424;
}

.menu__backdrop {
  position: absolute;
  background-color: white;
  top: 100px;
  left: 0;
  right: 0;
  bottom: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transform: translateY(500px);
  transition: all 300ms ease;
  width: 100%;
  border: 1px solid #eeebeb;
  border-radius: 10px;
}

.menu--open .menu__backdrop {
  display: flex;
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.menu--open {
  max-height: 100vh;
  overflow: hidden;
  position: relative;
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #242424;
}

.menu__link {
  color: #242424;
}

.menu__list {
  padding: 32px 0;
}

.btn__menu--close {
  position: absolute;
  right: 20px;
  top: 30px;
  padding: 8px;
  color: #242424;
}


/* Header */

header .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 60px;
}

.header__description {
  width: 40%;
  flex-direction: column;
  display: flex;
}

.header__description--para {
  margin: 32px 0;
}

.header__email {
  width: 100%;
  max-width: 448px;
  height: 68px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.header__email--btn {
  margin: 8px;
  height:calc(100%-16px);
  font-size: 16px;
  z-index: 2;
}

.header__email--input {
  width: 100%;
  border-radius: 100px;
  background-color: #242424;
  border: 2px solid #242424;
  font-size: 16px;
  font-weight: 500;
  color: rgb(148, 171, 204);
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  padding: 20px;
}

.header__email--input::placeholder {
  font-weight: 500;
  color: rgb(158, 170, 189);
}

.header__customers--title {
  padding-top: 50px;
  font-weight: 650;
}

.header__customers {
  margin-top: 12px;
  padding-right: 128px;
  width: 550px;
}

.header__img--wrapper {
  width: 60%;
}

.header__img {
  width: 100%;
  max-width: 720px;
}

#features {
  position: relative;
}

.services__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width:550px;
}

#services .row {
  justify-content: center;
}

#services .section__title {
  font-size: 45px;
}

.services {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 75px;
}

.service {
  display: flex;
  width: calc(100% / 3);
  margin-top: 20px;
}

.service__description {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  margin-left: 4px;
}

.service__img--wrapper {
  padding:20px;
  display: flex;
  margin-top: 10px;
}  

.service__img {
 width: 30px;
 height: 30px;
 border: 1px solid;
 padding: 5px;
 border-radius: 600px;
}

#services .container {
  flex-direction: column;
}

.service__description--para {
  margin-top: 15px;
  color:#7e7d7d
}

.quality__img--wrapper {
  width: 50%;
}

.quality__img {
  max-width: 1200px;
  width: 100%;
  position: relative;
  z-index: 1;
}

.quality__work {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 5px;
  padding: 20px;
  margin-right: 50px;
}

.quality__work--btn {
 width: 40%;
 margin-top: 20px;
}

.quality__work h2 {
  font-size: 50px;
  text-align: start;
  line-height: 1.25;
}

.quality__work p {
  font-size: 20px;
  letter-spacing: 1.6;
  text-align: start;
}

#quality {
  margin-top: 10px;
}

#quality .section__tag {
  text-decoration: underline #7e7d7d;
}

.steps__img--wrapper {
  display: flex;
  width: 60%;
}

#steps .section__tag {
  margin-top: -30px;
}

#steps .section__title {
  font-size: 45px;
  margin-bottom: 10px;
}
.steps__description {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: 60px;
}

.step {
  display: flex;
  padding: 10px;
}

.step__number {
  color:#c9c6c6;
  letter-spacing: 1.6px;
  font-size: 35px;
  padding-right: 20px;
  font-weight: 900px;
}

.step__description {
  max-width: 320px;
}

.step__title {
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.6px;
  margin-top: 5px;
}

.step__para {
  color: #7e7d7d;
  margin-top: 5px;
  letter-spacing: 0.4px;
}

.values__description {
  width: 50%;
  display:flex;
  flex-direction: column;
}

#values .section__title {
  font-size: 55px;
}

#values .section__para {
  text-align: start
}

.value__list {
  display: flex;
}

.value:nth-child(1) .value__img--wrapper {
  background-color: #8ae0a0;
}

.value:nth-child(2) .value__img--wrapper {
  background-color: rgb(241, 163, 163);
}

.value__img--wrapper {
  border-radius: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 36px;
}

.value__title {
  display: flex;
  margin-bottom: 20px;
  gap: 10px;
  align-items: center;
  font-size: 18px;
}

.value {
  margin-top: 20px;
  margin-right: 20px;
}

.value__para {
  color:#7e7d7d;
  line-height: 1.6;
  margin-top: 18px;
}

.values__img{
  display: flex;
  width: 50%;
}

#values .btn {
  max-width: 150px;
  margin-top: 45px;
}

.pricing__description {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 550px;
}

#pricing .section__title {
  font-size: 40px;
}

#pricing .row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plans {
  display:flex;
  flex-wrap: wrap;
  gap: 25px;
  width: 100%;
  justify-content: center;
}

.plan {
  margin-top: 4rem;
  display:flex;
  flex-direction: column;
  background-color:rgb(245, 248, 247);
  text-align: center;
  color:#242424;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  max-width: calc(100% / 3);
  width: 100%;
  width: 380px;
  height: 620px;
  position: relative;
  padding: 2rem;
  border-radius: 20px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
}

.plan__stripe {
  background-color: rgb(129, 230, 217);
  left: 0px;
  right: 0px;
  top: 0px;
  height: 0.5rem;
  position: absolute;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}

.plan__title,
.plan__span,
.plan__price {
  font-weight: bold;
  line-height: 1.6;
  width: 100%;
}

.plan__title {
  font-size: 20px;
}

.plan__price {
  font-size: 46px;
}

.plan__span {
  color: #c9c6c6;
  letter-spacing: 1.5px;
}

.plan__top {
  line-height: 1.625;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-transform: uppercase;
  width: 100%;
}

.plan__middle {
  padding: 2rem;
  border-top:2px solid #7e7d7d;
  border-bottom: 2px solid #7e7d7d;
  width: 100%;
}

.plan__target {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.5px;
  width: 100%;
}

.plan__feature {
  margin-top: 25px;
  color:#494949;
  font-weight: 400;
  width: 100%;
}

.plan__bottom {
  padding: 1.5rem;
  justify-content: center;
  width: 100%;
}


.plan__btn {
  padding: 0.75rem 2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 100%;
  transition: all 300ms ease;
  justify-content: center;
}

.plan__btn:hover {
  transform: scale(1.03);
  box-shadow: 2px 4px 7px black;
}

.plan__btn:active {
  transform: translateY(6px);
  transform: scale(1.01);
}

.plan:nth-child(1) .plan__btn {
    background: linear-gradient(115deg, rgb(56, 178, 172)0% , rgb(129, 230, 217) 100%);
}

.plan:nth-child(2) {
  background: linear-gradient(135deg,
  rgb(76, 81, 191) 0%,
  rgb(102, 126, 234) 100%);
}

.plan:nth-child(2) .plan__btn {
  background-color: white;
  color: rgb(102, 126, 234)
}

.plan:nth-child(2) .plan__stripe {
  visibility: hidden;
}

.plan:nth-child(3) .plan__btn{
  color: #f7fafc;
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}


.plan:nth-child(3) .plan__stripe {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

.plan:nth-child(odd) .plan__title,
.plan:nth-child(odd) .plan__price,
.plan:nth-child(odd) .plan__target {
  color: #242424
}

.plan:nth-child(2) .plan__title,
.plan:nth-child(2) .plan__price,
.plan:nth-child(2) .plan__span,
.plan:nth-child(2) .plan__feature,
.plan:nth-child(2) .plan__target {
  color:#f7fafc
}

.plan:nth-child(1) .plan__middle,
.plan:nth-child(3) .plan__middle {
  border-top:2px solid #cacaca;
  border-bottom:2px solid #cacaca;
}

.plan:nth-child(2) .plan__middle {
  border-top:2px solid #568edd;
  border-bottom:2px solid #568edd;
}

.plan:nth-child(2) {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.testi__img--wrapper {
  width: 50%;
  margin-top: 40px;
}

.testi__img {
  width: 100%;
}

.testi__description {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-left: 50px;
}

#testimonials .section__title {
  font-size: 46px;
}

#testimonials .section__para {
  text-align: start;
  font-size: 18px;
  font-weight: 600;
}


.testi {
  margin-top: 30px;
}

.testi__rating {
  margin-bottom: 25px;
  color: #fabf2a;
}


.testi__title {
  margin-bottom: 20px;
  color: black;
}

.testi__para {
  font-weight: 500;
  line-height: 1.4;
  color:#242424
}

.testi__bottom {
  margin-top: 30px;
  display: flex;
}

.testi__profile {
  display: flex;
  align-items: center;
}

.testi__profile--img {
  width: 18%;
  border-radius: 500px;
}

.testi__profile--details {
  margin-left: 25px;
}

.testi__profile--role {
  color: #494949;
  font-weight: 500;
  margin-top: 3px;
  letter-spacing: 0.5px;
}

.testi__buttons {
  display: flex;
  align-items: center;
}

.testi__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px;
  background: white;
  border: none;
  background-color: #eeecec;
  border-radius: 50px;
  padding: 16px;
  transition: all 300ms ease;
  color:#222121;
}

.testi__btn:hover {
  background: rgb(172, 170, 170);
  color:#243e63;
}

.divider {
  background-color: #dad7d7;
  height: 20px;
  width: 0.5px;
}

footer {
  background-color: #6415ff;
  color: white;
}

footer a {
  color: white;
}

footer .row {
  justify-content: center;
}

.link__title {
  color: white;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}

.links {
  display: flex;
  flex-wrap: wrap;
}

.link {
  display: flex;
  flex-direction: column;
  width: calc(100% / 5);
  align-items: flex-start;
  padding: 60px;
  margin-top: -60px;
}

.footer__link {
  font-size: 14px;
  margin-top: 12px;
  font-weight: 400;
  cursor: pointer;
}

.footer__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__row {
  display: flex;
  flex-direction: column;
}

.footer__seperator {
  background-color: #8561c4;
  width: 100%;
  height: 2px;
  margin: 64px 0;
}

.footer__logo--img {
  width: 45px;
  height: 45px;
}

.footer__logo {
  display: flex;
  justify-content: center;
  margin-left: 50px
}

.footer__logo--text {
  margin-left: 6px;
}

.footer__logo h5 {
  color: white;
  font-size: 30px;
  text-align: center;
}

.footer__copyright {
  color:white;
  align-items: center;
}

.footer__social {
  background-color: white;
  font-size: 20px;
  margin-right: 30px;
  padding: 10px;
  border-radius: 300px;
  gap: 2px;
  text-decoration: none;
}

.footer__social--link {
  padding: 10px;
  cursor: not-allowed;
  color: black;
}

.footer__social--link:hover {
  text-decoration: none;
}

@media (max-width: 1200px) {
  header .row {
    align-items: flex-end;
  }

  h1 {
    font-size: 36px;
    color: #1a202c;
    line-height: 1.25;
  }
  .header__description--para {
    font-size: 16px;
  }
  
  
  .header__img--wrapper {
    display: flex;
    justify-content: flex-end;
  }
  .header__img {
    max-width: 512px;
  }
  .plan__btn {
    max-width: none;
  }

  .testi__img--wrapper {
    width: 40%;
  }
  .testi__description {
    width: calc(100% - 40%);
  }
}

@media (max-width:1082px) {
  .steps__img--wrapper {
    width: 70%;
  }

  footer {
    max-width:100%;
    display: flex;
    justify-content: flex-end;
  }
}

@media (max-width:1071px) {
  .plans {
    flex-direction: column;
    align-items: center;
  }

  .service{
    width: calc(100% / 2);
    text-align: center;
  }

  .service__description--para {
    font-size: 20px;
  } 
}

@media (max-width: 920px) {
  .header__img {
    width: 110%;
    justify-content: flex-end;
  }

  .header__description{
    width: 60%;
  }

  p {
    font-size: 14;
  }

}

@media (max-width: 890px) {
  .nav__links {
    visibility: hidden;
  }

  .nav__row {
    margin: 0 auto;
  }


  .btn__menu {
    display: block;
  }

  #landing .row{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header__description {
    width: 100%;
    text-align: center;
  }

  .header__email {
    width: 45%;
    margin: 0 auto;
  }

  .header__email--input::placeholder {
    width: 34%;
  }

  .header__customers {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 50%;
    transform: translateX(50px);
  }

  .header__img--wrapper {
    margin-top: 40px;
    width: 200%;
    justify-content: center;
  }

  #services .service{
    width: (100% / 2);
    flex-wrap: wrap;
    justify-content: center;
  }

  #steps .row {
    flex-direction: column-reverse;
  }

  .steps__description {
    width: 100%;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    font-size: 25px;
  }

  #steps .section__title {
    text-align: center;
    font-size: 35px;
  }

  .steps__img--wrapper {
    margin-top: 20px;
    width: 100%;
  }

  #steps .section__tag {
    margin-bottom: 20px;
    font-weight: 900;
    font-size: 20px;
  }

  .step {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: start;
  }


  #quality .row {
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  #quality .section__title {
    text-align: center;
  }

  #quality .section__para {
    text-align: center;
  }

  .quality__work{
    width: 100%;
    align-items: center;
    margin: 0 auto;
  }

  .quality__work--btn {
    width: 90%;
  }

  .quality__img--wrapper {
    flex-direction: column;
    display: flex;
  }

  .row {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .section__title {
    text-align: center;
  }

  .section__para {
    text-align:center;
  }

  .section__tag {
    text-align: center;
  }

  .btn {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  #values .section__tag {
    margin-bottom: 20px;
    font-size: 25px;
    text-decoration: underline;
  }

  #values .section__title {
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }

  #values .row {
    text-align: start;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .values__description {
    font-size:18px;
    width: 100%;
    text-align: center;
  }

  .values__img {
    width: 100%;
    margin-top: 25px;
  }

  #values .btn {
    max-width: 100%;
  }

  #testimonials .row{
    flex-direction: column;
  }

  .testi__img--wrapper{
    width: 100%;
    margin-top: 0;
  }

  .testi__description {
    width: 100%;
    text-align: center;
  }

  footer {
    flex-wrap: wrap;
  }

  .link {
    width: calc(100% / 3);
    align-items: center;
    justify-content: center;
  }

  .links {
    justify-content: center;
  }

  .footer__info {
    flex-direction: column;
    gap: 15px;
  }

}

@media (max-width:726px) {
  .plans {
    width: 100%;
  }
  .header__email {
    margin: 0 auto;
    left: 70px
  }

  .header__email--input {
    width: 170%;
  }

  .header__customers {
    width: 100%;
  }

  .service {
    text-align: center;
    width: 100%;
    max-width:90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .service__title {
    text-decoration: underline;
    font-size: 23px;
  }

  .service__img--wrapper {
    justify-content: center;
    padding:0;
    width:15%;
  }

  .service__img {
    padding: 10px;
    width:100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .service__description--para {
    max-width: 300px;
  }

  #values .section__title {
    font-size:25px;
  }

  .value {
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
  }

  #values .section__para {
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 10px;
  }

  .value__list {
    margin: 0 auto;
    flex-direction: column;
    margin-top: 20px;
  }

  .value__title {
    justify-content: center;
    margin-top: 10px;
  }

  .value__para {
    text-align: center;
  }

  #testimonials {
    font-size: 16px;
  }

  #testimonials .section__para {
    text-align: center;
  }

  .testi__rating,
  .testi__para,
  .testi__title {
    text-align: center;
  }

  .testi__bottom {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .testi__profile {
    justify-content: center;
  }

  .testi__profile--img {
    width: 25%;
    display: flex;
  }

  .testi__buttons{
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    align-items: center;
  }

  .testi__btn {
    width:25%;
  }



  footer {
    justify-content: center;
    margin: 0 auto;
    align-items: center;
  }

  .links {
    align-items: center;
    margin: 0 auto;
    justify-content: center;
  }

  .link {
    width: calc(100% / 2);
    text-align: center;
    align-items: center;
  }

  .footer__info {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap:10px;
  }

  .footer__logo {
    margin: 0 auto;
  }

}



.plan {
  min-width: 300px;
}

@media (min-width:300px) {
  body {
    overflow-x: hidden;
  }
}